@media only screen and (min-width: 767px) and (max-width: 900px) { 

  .header_area {
    padding: 0 20px;
  }
  .blog_section, .course_section, .players_area {
    width: 100%;
  }
  .single_course img {
    width: 100%;
  }
  .blogs_area {
    grid-gap: 26px;
  }
  .single_blog h3 {
    font-size: 14px;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .nav ul li a {
    margin-right: 12px;
  }
  .nav ul li a {
    font-size: 13px;
  }
  .logo_area img {
    width: 30px;
    margin-right: 12px;
  }
  span.nav img {
    width: 40px;
  }
  .header_area {
    padding: 0 15px;
  }
  .blog_section, .course_section, .players_area {
    width: 100%;
  }
  .players, .courses_area, .blogs_area {
    grid-template-columns: repeat(1, 1fr);
  }
  .single_course img {
    width: 100%;
  }
  .single_course {
    margin-bottom: 33px;
  }
  .course_details img {
    width: 74.6px;
    height: 11.81px;
  }




}



@media only screen and (min-width: 480px) and (max-width: 767px) {

  .players, .courses_area {
    grid-template-columns: repeat(2, 1fr);
  }
  
}